extends layout.pug

block head
  title Vocado Engine
  style.
    :root {
      color-scheme: dark;
    }
block body
  h1 Hello, world!
  p This file rendered from Pug via Vocado.
  p Cookies: #{JSON.stringify(cookies)}
